body {
  font-size: 20px; }

.nav-custom .navbar-brand img {
  width: 220px; }
.nav-custom .navbar-toggler {
  z-index: 99999; }
.nav-custom .nav-link {
  color: black !important;
  font-size: 20px;
  font-weight: 300;
  user-select: none; }
.nav-custom__nav-bottom {
  background-color: #050A30;
  min-height: 80px; }
  .nav-custom__nav-bottom__left {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px;
    width: 60%; }
    .nav-custom__nav-bottom__left__bar-search {
      flex: 1; }
      .nav-custom__nav-bottom__left__bar-search input {
        border: none;
        border-radius: 0; }
      .nav-custom__nav-bottom__left__bar-search button {
        background: white;
        border: none;
        border-radius: 0;
        color: #BA9B58; }
    .nav-custom__nav-bottom__left .dropdown-list-btn {
      background: white;
      border: none;
      border-radius: 0; }
    .nav-custom__nav-bottom__left .dropdown-menu {
      border-radius: 0;
      min-width: 250px; }
      .nav-custom__nav-bottom__left .dropdown-menu__control {
        display: flex;
        justify-content: space-between;
        padding: 20px; }
        .nav-custom__nav-bottom__left .dropdown-menu__control button {
          color: black;
          min-width: 80px; }
          .nav-custom__nav-bottom__left .dropdown-menu__control button:hover {
            background-color: #9DD3E6; }
      .nav-custom__nav-bottom__left .dropdown-menu .nav-item {
        height: 40px;
        display: flex;
        align-items: center;
        color: black; }
        .nav-custom__nav-bottom__left .dropdown-menu .nav-item:hover {
          background-color: #9DD3E6; }
        .nav-custom__nav-bottom__left .dropdown-menu .nav-item a {
          padding: 0 20px; }
          .nav-custom__nav-bottom__left .dropdown-menu .nav-item a:hover {
            background-color: transparent; }
    .nav-custom__nav-bottom__left .form-range {
      padding: 0 20px; }
    .nav-custom__nav-bottom__left .checkbox-item {
      height: 40px;
      display: flex;
      align-items: center; }
      .nav-custom__nav-bottom__left .checkbox-item input {
        margin-left: 20px; }
      .nav-custom__nav-bottom__left .checkbox-item label {
        margin-left: 20px; }
  .nav-custom__nav-bottom .navbar-nav {
    display: flex;
    grid-gap: 15px; }
.nav-custom .select-language-list {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 9999;
  user-select: none; }
  .nav-custom .select-language-list .arrow {
    position: absolute;
    display: none;
    right: 25px;
    top: 42px;
    font-size: 50px;
    color: white; }
    .nav-custom .select-language-list .arrow.opened {
      display: block;
      transition: display ease 0.2s; }
  .nav-custom .select-language-list .select-dropdown {
    overflow: hidden;
    height: 0px;
    transition: height ease 0.2s;
    margin-top: 75px; }
  .nav-custom .select-language-list .select-dropdown.opened {
    height: 500px;
    transition: height ease 0.2s; }
  .nav-custom .select-language-list .selected {
    position: absolute;
    right: 10px;
    height: 50px;
    padding: 10px 10px;
    background: #8C8888;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    display: flex;
    font-size: 18px;
    align-items: center;
    width: 120px;
    justify-content: center;
    top: -5px; }
    .nav-custom .select-language-list .selected__lan {
      margin-left: 10px; }
  .nav-custom .select-language-list select {
    display: none; }
  .nav-custom .select-language-list .items {
    overflow: auto;
    overflow-x: hidden;
    width: 185px;
    background-color: white;
    border-radius: 25px; }
  .nav-custom .select-language-list .items > div {
    border-top: 1px solid #eee;
    display: flex;
    align-items: center;
    padding: 5px 10px; }
  .nav-custom .select-language-list .items > div:hover {
    background: #fcfcfc;
    cursor: pointer; }
  .nav-custom .select-language-list .items > div:last-child {
    border-bottom: 1px solid #eee; }
  .nav-custom .select-language-list .img {
    width: 30px;
    height: 30px; }
    .nav-custom .select-language-list .img img {
      border-radius: 1000px;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .nav-custom .select-language-list .content {
    padding: 10px;
    font-size: 15px; }

::-webkit-scrollbar {
  width: 8px;
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px; }

.banner {
  padding: 10px 10px 10px 10px;
  background-color: #ffffff;
  width: 100%; }

.carousel h2 {
  font-size: 3.3vw;
  margin-bottom: 50px; }
.carousel form button {
  height: 70px;
  width: 150px;
  font-size: 20px; }
.carousel form input::placeholder {
  font-size: 20px; }
.carousel .carousel-caption {
  bottom: unset; }

.btn-search {
  background: #a88229;
  border-radius: unset;
  color: #ffffff; }

.input-search {
  border-radius: unset; }

.banner-caption {
  right: 25%;
  left: 25%; }

.list-news {
  height: 230px;
  width: auto;
  object-fit: cover; }

.btn-more {
  background: #a88229;
  color: #ffffff;
  margin: 30px auto;
  padding: 1em 2em;
  font-weight: 500; }

.line-break {
  border-bottom: 2px solid #b6c1cd40; }

.card-item {
  background-color: #f6f6f5; }

.card {
  height: auto;
  margin-top: 30px;
  overflow: hidden;
  border-radius: 20px 20px 0 0; }

.other-banner {
  background-image: url("../asset/images/image_3.png");
  height: 880px; }

.card-list .card .card-body {
  height: 160px;
  text-align: center; }
  .card-list .card .card-body .card-text {
    font-size: 17px; }
  .card-list .card .card-body .card-price {
    font-size: 15px;
    margin-top: 15px; }

.pagination-page .page-item {
  text-align: center;
  height: 50px;
  width: 50px;
  border: none;
  margin: 0 5px 0 5px;
  outline: none; }
  .pagination-page .page-item.active .page-link {
    border-radius: 1000px;
    background-color: #BA9B58;
    border: 1px solid #BA9B58;
    color: white;
    font-weight: 400; }
  .pagination-page .page-item .page-link {
    border: none;
    color: black;
    font-weight: 600;
    border-radius: 1000px;
    width: 100%;
    height: 100%;
    box-shadow: none;
    font-size: 22px; }
    .pagination-page .page-item .page-link:focus {
      background-color: #BA9B58;
      border: 1px solid #BA9B58;
      color: white; }
    .pagination-page .page-item .page-link:hover {
      cursor: pointer;
      background-color: #BA9B58;
      color: white; }
    .pagination-page .page-item .page-link:focus-visible {
      outline: none; }
  .pagination-page .page-item:first-child .page-link {
    border: none;
    font-size: 32px;
    padding: 0; }
    .pagination-page .page-item:first-child .page-link:first-child {
      color: #B8B8BF; }
  .pagination-page .page-item:last-child .page-link {
    border: none;
    font-size: 32px;
    padding: 0; }

.jumbotron {
  color: white;
  background-image: url("/asset/images/image_3.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  font-weight: 500; }
  .jumbotron h1 {
    font-weight: 500; }
  .jumbotron p {
    font-size: 32px; }
  .jumbotron .content {
    padding: 22% 5%;
    display: flex;
    flex-direction: column; }
  .jumbotron button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0.5em 1em;
    color: white;
    width: 200px;
    transition: 0.2s;
    margin-top: 100px; }
    .jumbotron button:hover {
      background-color: white;
      color: black; }

.hero-intro .card {
  margin: 0;
  border-radius: 0;
  border: none; }
  .hero-intro .card img {
    height: 315px;
    width: 100%;
    object-fit: cover; }
  .hero-intro .card h5 {
    font-size: 30px; }
  .hero-intro .card .card-body {
    padding: 2em 2em;
    display: flex;
    flex-direction: column; }
  .hero-intro .card .card-text {
    font-size: 18px; }
    .hero-intro .card .card-text:nth-child(2) {
      margin-top: .5em; }
    .hero-intro .card .card-text:nth-child(3) {
      color: #BA9B58;
      font-size: 30px;
      font-weight: 600;
      margin-top: 1em;
      text-decoration: none; }
      .hero-intro .card .card-text:nth-child(3):hover {
        color: black; }

.footer-1 {
  background-color: #FBFAFA;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 0px 18px 14px -2px rgba(0, 0, 0, 0.15); }
  .footer-1 h5 {
    text-transform: uppercase;
    font-size: 14px;
    color: #8F8F8E; }
  .footer-1 .text-small, .footer-1 .view-more {
    margin-top: 1em; }
    .footer-1 .text-small a, .footer-1 .view-more a {
      color: #0A78A8 !important;
      text-decoration: none;
      font-size: 13px;
      font-weight: 700; }
      .footer-1 .text-small a:hover, .footer-1 .view-more a:hover {
        color: #075678 !important; }
  .footer-1 .col3, .footer-1 .col5 {
    position: relative; }
    .footer-1 .col3 .hr, .footer-1 .col5 .hr {
      position: absolute;
      height: 100%;
      border: 1px solid #dfdfdf;
      right: 15px;
      top: 0; }

.footer-2 {
  background-color: #050A30 !important;
  color: white; }
  .footer-2 a {
    color: white;
    text-decoration: none;
    font-size: 13px; }
  .footer-2 img {
    width: 240px; }
  .footer-2 .footer-border {
    border-top: #bc9b54 1px solid;
    border-bottom: #bc9b54 1px solid; }
  .footer-2 .footer-text-detail {
    font-size: 17px;
    font-weight: 200; }
  .footer-2 .about-us {
    display: flex;
    flex-direction: column; }
    .footer-2 .about-us div {
      padding-top: 10px; }
  .footer-2 .service, .footer-2 .term, .footer-2 .information {
    display: flex;
    flex-direction: column; }
    .footer-2 .service a, .footer-2 .term a, .footer-2 .information a {
      padding-top: 5px; }
  .footer-2__social a {
    font-size: 40px;
    padding-right: 15px; }
  .footer-2__copyright {
    align-items: center; }
    .footer-2__copyright__text {
      font-size: 15px;
      font-weight: 100; }

@media screen and (max-width: 1200px) {
  .footer-1 .hr {
    display: none; }

  .footer-2__social a {
    font-size: 30px;
    padding-right: 5px; }
  .footer-2__header .contact-phone, .footer-2__header .contact-mail {
    padding-top: 15px; }
  .footer-2__header__content {
    font-size: 15px;
    font-weight: 500; } }
@media screen and (max-width: 1000px) {
  .nav-custom__nav-bottom {
    height: 103px;
    z-index: 100; }
    .nav-custom__nav-bottom__left {
      display: flex;
      width: 100%;
      flex-direction: column; }
      .nav-custom__nav-bottom__left .navbar-nav {
        flex-direction: row;
        justify-content: space-between; }
        .nav-custom__nav-bottom__left .navbar-nav .nav-item {
          width: 23%; }
      .nav-custom__nav-bottom__left .dropdown-list-btn {
        width: 100%; }
      .nav-custom__nav-bottom__left .dropdown-menu {
        min-width: unset; } }
@media screen and (max-width: 993px) {
  nav .select-language-list .selected {
    right: 70px !important;
    height: 43px !important;
    border-radius: 5px !important;
    font-size: 15px !important;
    width: 100px !important;
    top: 0 !important; }
  nav .select-language-list .arrow {
    right: 70px !important; }
  nav .select-language-list .img {
    width: 25px; } }
@media screen and (max-width: 850px) {
  .nav-custom__nav-bottom__left .dropdown-menu {
    min-width: 230px; }

  .carousel form input {
    font-size: 15px; }
    .carousel form input::placeholder {
      font-size: 15px; }
  .carousel form button.btn-search {
    height: 50px;
    font-size: 15px;
    width: 100px; } }
@media screen and (max-width: 500px) {
  .nav-custom__nav-bottom {
    height: auto; }
    .nav-custom__nav-bottom__left .navbar-nav {
      flex-direction: column; }
      .nav-custom__nav-bottom__left .navbar-nav .nav-item {
        width: 100%; }
    .nav-custom__nav-bottom__left .dropdown-menu {
      min-width: unset; }

  .jumbotron {
    height: 500px; }
    .jumbotron h1 {
      font-size: 25px; }
    .jumbotron p {
      font-size: 15px; }

  .carousel h2 {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px; }
  .carousel form {
    margin-top: 0 !important; }
  .carousel .banner-caption {
    left: 10%;
    right: 10%; } }
@media screen and (max-width: 425px) {
  nav .select-language-list .selected {
    right: 70px !important;
    height: 43px !important;
    border-radius: 5px !important;
    font-size: 15px !important;
    width: 50px !important;
    top: -9px !important; }
    nav .select-language-list .selected .img {
      display: none; }
    nav .select-language-list .selected__lan {
      margin-left: 0 !important; }
  nav .select-language-list .img {
    width: 25px; }
  nav .navbar-brand img {
    width: 150px !important; } }

/*# sourceMappingURL=index.css.map */
