$primary: #050A30;
$range: #004C7E;
$hover: #9DD3E6;
body{
    font-size: 20px;
}
.nav-custom {
    .navbar-brand {
        img{
            width: 220px;
        }
    }
    .navbar-toggler{
        z-index: 99999;
    }
    .nav-link{
        color:black !important;
        font-size: 20px;
        font-weight: 300;
        user-select: none;
        }
    &__nav-bottom{
        background-color: $primary;
        min-height: 80px;
        &__left{
            display: flex;
            flex-wrap: wrap;
            grid-gap: 15px;
            width: 60%;
            &__bar-search{
                flex: 1;
                input{
                    border: none;
                    border-radius: 0;
                }
                button{
                    background: white;
                    border: none;
                    border-radius: 0;
                    color: #BA9B58;                    
                }
            }
            .dropdown-list-btn{
                    background: white;
                    border: none;
                    border-radius: 0;
            }
            .dropdown-menu{
                border-radius: 0;
                min-width: 250px;
                &__control{
                    display: flex;
                    justify-content: space-between;
                    padding: 20px;
                    button{
                        color: black;
                        min-width: 80px;
                        &:hover{
                            background-color: $hover;
                        }

                    }
                }
                .nav-item{
                    height: 40px;
                    display: flex;
                    align-items: center;
                    color: black;
                    &:hover{
                        background-color: $hover;
                    }
                    a{
                        padding: 0 20px;
                        &:hover{
                            background-color: transparent;
                        }
                    }
                }  
            }
            .form-range{
                padding: 0 20px;
            }
            .checkbox-item{
                height: 40px;
                display: flex;
                align-items: center;
                input{
                 margin-left:20px;
                }
                label{
                    margin-left:20px; 
                }
            }
        }
        .navbar-nav{
            display: flex;
            grid-gap: 15px;
        }

    }
    .select-language-list{
        position: absolute;
        top:20px;
        right:10px;
        z-index: 9999;
        user-select: none;
        .arrow{
            position: absolute;
            display: none;
            right: 25px;
            top: 42px;
            font-size: 50px;
            color: white;
            &.opened{
                display: block;
                transition: display ease 0.2s;
            }
        }
          .select-dropdown {
            overflow: hidden;
            height: 0px;
            transition: height ease 0.2s;
            margin-top: 75px;
          }
          
          .select-dropdown.opened {
            height: 500px;
            transition: height ease 0.2s;
            // position: absolute;
            // right: 10px;

          }

          .selected {
            position: absolute;
            right: 10px;
            height: 50px;
            padding: 10px 10px;
            background: #8C8888;
            border-radius: 20px;
            cursor: pointer;
            color:white;
            display: flex;
            font-size: 18px;
            align-items: center;
            width: 120px;
            justify-content: center;
            top:-5px;
            &__lan{
                margin-left: 10px;
            }
          }
          
          select {
            display: none;
          }
    
          .items {
            overflow: auto;
            overflow-x: hidden;
            width: 185px;
            background-color: white;
            border-radius: 25px;
          }
          
          
          .items > div {
            border-top: 1px solid #eee;
            display: flex;
            align-items: center;
            padding: 5px 10px;
          }
          
          .items > div:hover {
            background: #fcfcfc;
            cursor: pointer;
          }
          
          
          .items > div:last-child {
            border-bottom: 1px solid #eee;
          }
          
          .img {
              width: 30px;
              height: 30px;
              img{
                border-radius: 1000px;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
          }
          .content {
              padding: 10px;
              font-size: 15px;
          }
          
    }
}
::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
  }
  .banner {
    padding: 10px 10px 10px 10px;
    background-color: #ffffff;
    width: 100%;
}
.carousel{
    h2{
        font-size: 3.3vw;
        margin-bottom: 50px;
    }
    form{
        button{
            height: 70px;
            width: 150px;
            font-size: 20px;
        }
        input{
            &::placeholder{
                font-size: 20px;
            }
        }
    }
    .carousel-caption {
        bottom: unset;
    }
}

.btn-search {
    background: #a88229;
    border-radius: unset;
    color: #ffffff;
}

.input-search {
    border-radius: unset;
}

.banner-caption {
    right: 25%;
    left: 25%;
}

.list-news {
    height: 230px;
    width: auto;
    object-fit: cover;
}

.btn-more {
    background: #a88229;
    color: #ffffff;
    margin: 30px auto;
    padding: 1em 2em;
    font-weight: 500;
}

.line-break {
    border-bottom: 2px solid #b6c1cd40;
}

.card-item {
    background-color: #f6f6f5;
}
.card{
    height: auto;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.other-banner {
    background-image: url("../asset/images/image_3.png");
    height: 880px;
}
.card-list {
    .card{
        .card-body{
            height: 160px;
            text-align: center;
            .card-text{
                font-size: 17px;
            }
            .card-price{
                font-size: 15px;
                margin-top: 15px;
            }
        }
    }
}
.pagination-page{
    .page-item{
        text-align: center;
        height: 50px;
        width: 50px;
        border:none;
        margin: 0 5px 0 5px;
        outline: none;
        &.active{
            .page-link{
                border-radius: 1000px;
                background-color: #BA9B58;
                border: 1px solid #BA9B58;
                color: white;            
                font-weight: 400;
            }
        }
        .page-link{
            border: none;
            color: black;
            font-weight: 600;
            border-radius: 1000px;
            width: 100%;
            height: 100%;
            box-shadow: none;
            font-size: 22px;
            &:focus{
                background-color: #BA9B58;
                border: 1px solid #BA9B58;
                color:white;

            }
            &:hover{
                cursor: pointer;
                background-color: #BA9B58;
                color:white;
            }
            &:focus-visible{
                outline: none;
            }
        }
        &:first-child {
            .page-link{
                border:none;
                font-size: 32px;
                padding: 0;
                &:first-child{
                    color: #B8B8BF;
                }
            }
        }
        &:last-child {
            .page-link{
                border:none;
                font-size: 32px;
                padding: 0;
            }
        }
    }
}
.jumbotron {
    color: white;
    background-image: url("/asset/images/image_3.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    font-weight: 500;
    h1{
        font-weight: 500;
    }
    p{
        font-size: 32px;
    }
    .content{
        padding: 22% 5%;
        display: flex;
        flex-direction: column;
    }
    button{
        background-color: transparent;
        border: 2px solid white;
        border-radius: 5px;
        padding: 0.5em 1em;
        color:white;
        width: 200px;
        transition: 0.2s;
        margin-top: 100px;
        &:hover{
            background-color: white;
            color:black;
        }

    }
  }
  .hero-intro{
      .card{
          img{
             height: 315px;
             width: 100%;
             object-fit: cover;
          }
          margin: 0;
          border-radius: 0;
          border: none;
          h5{
              font-size: 30px;
          }
          .card-body{
              padding: 2em 2em;
              display: flex;
              flex-direction: column;
          }
          .card-text{
              font-size: 18px;
              &:nth-child(2){
                  margin-top: .5em;
            }
              &:nth-child(3){
                  color: #BA9B58;
                  font-size: 30px;
                  font-weight: 600;
                  margin-top: 1em;
                  text-decoration: none;
                  &:hover{
                      color: black;
                  }
              }
          }
      }
  }
  .footer-1{
      background-color: #FBFAFA;
      border-top: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf;
      box-shadow: 0px 18px 14px -2px rgba(0,0,0,0.15);
      h5{
        text-transform: uppercase;
        font-size: 14px;
        color: #8F8F8E;
      }
      .text-small, .view-more{
          margin-top: 1em;
          a{
          color: #0A78A8 !important;
          text-decoration:none;
          font-size: 13px;
          font-weight: 700;
          &:hover{
            color: darken($color: #0A78A8, $amount: 10%) !important
          }
          }
      }
      .col3,.col5{
          position: relative;
        .hr{
            position: absolute;
            height: 100%;
            border: 1px solid #dfdfdf;
            right: 15px;
            top: 0;
        }
      }

  }
  .footer-2{
      background-color: $primary !important;
      color: white;
      a{
          color:white;
          text-decoration: none;
          font-size: 13px;
      }
    img {
        width: 240px;
    }    
    .footer-border {
        border-top: #bc9b54 1px solid;
        border-bottom: #bc9b54 1px solid;
    }
    .footer-text-detail {
      font-size: 17px;
      font-weight: 200;
    }
    .about-us{
      display: flex;
      flex-direction: column;
      div{
        padding-top:10px;
      }
    }
    .service, .term, .information{
        display: flex;
        flex-direction: column;
        a{
            padding-top:5px;
        }
    }
    &__social{
        a{
           font-size: 40px;
           padding-right: 15px;
        }
    }
    &__copyright{
        align-items: center;
        &__text{
            font-size: 15px;
            font-weight: 100;
        }
    }
  }
@media screen and (max-width: 1200px) {
    .footer-1 {
            .hr{
                display: none;
            }
    }
    .footer-2{
        &__social{
            a{
                font-size: 30px;
                padding-right: 5px;
             }
        }
        &__header{
            .contact-phone,.contact-mail{
                padding-top: 15px;
            }
            &__content{
                font-size: 15px;
                font-weight: 500;
            }
       }
    }
    
  }
@media screen and (max-width: 1000px) {
    .nav-custom {
        &__nav-bottom{
            height: 103px;
            z-index: 100;
            &__left{
                display: flex;
                width: 100%;
                flex-direction: column;
                .navbar-nav{
                    flex-direction: row;
                    justify-content: space-between;
                    .nav-item{
                        width: 23%;
                    }
                }
                .dropdown-list-btn{
                    width: 100%;
                }
                .dropdown-menu{
                    min-width: unset;
                }
            }
        }
    }
  }


    @media screen and (max-width: 993px) {
        nav{
            .select-language-list {
                .selected{
                    right: 70px !important;
                    height: 43px !important;
                    border-radius: 5px !important;
                    font-size: 15px !important;
                    width: 100px !important;
                    top: 0 !important;
                }
                .arrow{
                    right: 70px !important;
                }
                .img {
                    width: 25px;
            }
        }
  }
}
  @media screen and (max-width: 850px) {
    .nav-custom {
        &__nav-bottom{
            &__left{
                .dropdown-menu{
                    min-width: 230px;
                }
            }
        }
    }
    .carousel{ 
        form{
            input{
                font-size: 15px;
                &::placeholder{
                    font-size: 15px;
                }
            }
            button{
                &.btn-search{
                    height: 50px;
                    font-size: 15px;
                    width: 100px;
                }
            }
        }

    }
  }
  @media screen and (max-width: 500px) {
    .nav-custom {
        &__nav-bottom{
            height: auto;
            &__left{
                .navbar-nav{
                    flex-direction: column;
                    .nav-item{
                        width: 100%;
                    }
                }
                .dropdown-menu{
                    min-width: unset;
                }
            }
        }
    }
    .jumbotron{
        height: 500px;
        h1{
            font-size: 25px;
        }
        p{
            font-size: 15px;
        }
    }
    .carousel{
        h2{
            margin-bottom: 5px;
            font-weight: 700;
            font-size: 16px;
        }
        form{
            margin-top: 0 !important;
        }
        .banner-caption{
            left: 10%;
            right: 10%;
        }
    }
  }
  @media screen and (max-width: 425px) {
    nav{
        .select-language-list {
            .selected{
                right: 70px !important;
                height: 43px !important;
                border-radius: 5px !important;
                font-size: 15px !important;
                width: 50px !important;
                top: -9px !important;
                .img{
                    display: none;
                }
                &__lan{
                    margin-left: 0 !important;
                }
            }

            .img {
                width: 25px;
        }
    }
    .navbar-brand img{
        width: 150px !important;
    }
}

}